* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 162, 255);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.line1,
.line2 {
    font-size: 64px;
    font-weight: 1000;
    color: white;
}

.line1 {
    margin-left: -50px;
    animation: slide-top1 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

.line2 {
    margin-left: 50px;
    animation: slide-top2 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.2s both;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: relative;
    top: 50%;
    transform: translate(0, 50%);
    animation: apper 1.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) 0.3s both;
}

section a,
section button {
    padding: 10px 50px 10px 50px;
    text-align: center;
    background-color: white;
    color: #00A3FF;
    border-radius: 20px;
    font-weight: 1000;
    font-size: 20px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 4px 4px 0px #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

section a:hover,
section button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

@keyframes slide-top1 {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100px;
    }
}

@keyframes slide-top2 {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 100px;
    }
}

@keyframes apper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100px;
    }
}

.prijava-window {
    border: 5px solid #00A3FF;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

.animation3 {
    animation: slide-top3 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

@keyframes slide-top3 {
    0% {
        top: 90%;
        left: 50%;
        transform: translate(-50%, -90%);
        opacity: 0;
    }
    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.prijava-window form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.prijava-window p {
    font-weight: 1000;
    font-size: 32px;
}

.prijava-window form input[type=text],
.prijava-window form input[type=password] {
    margin: 0;
    width: 200px;
    height: 45px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
}

::placeholder {
    font-size: 11px;
    font-weight: 500;
}

.prijava-window form button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    font-weight: 1000;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.prijava-window form input[type=text]:focus,
.prijava-window form input[type=password]:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #00A3FF;
    transition: 0.2s;
}

.bcg-clr {
    background-color: rgba(44, 175, 252, 0.5);
}

.opacity {
    filter: blur(2px);
    opacity: 0.8;
}

.display-none {
    display: none;
}