.grejanje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}


/* trenutna temperatura */

@media screen {
    .container {
        background-color: transparent;
        width: 250px;
        height: 200px;
        padding: 5px;
        margin: 20px;
    }
    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    .container:hover .inner {
        transform: rotateX(180deg);
    }
    .front,
    .back {
        border: 5px solid transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        font-weight: 1000;
        border-radius: 20px;
        transition: 0.5s;
    }
    .front {
        position: absolute;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .front p:nth-child(2) {
        color: #00a2ff;
        font-size: 20px;
    }
    .back {
        background-color: white;
        color: black;
        transform: rotateX(180deg);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
    }
    .input {
        background-color: #00a2ff;
        border: 1px solid #00a2ff;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        padding: 5px;
    }
    .input input {
        background-color: #00a2ff;
        text-align: center;
        border: none;
        font-size: 25px;
        font-weight: 1000;
        width: 70px;
    }
    .input button {
        font-size: 20px;
        font-weight: 1000;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background-color: #00a2ff;
        color: white;
        border: none;
    }
    .input input:focus {
        border-top: 2px solid #00a2ff;
        border-bottom: 2px solid #00a2ff;
        outline: none;
        border: none;
    }
    .input button:active {
        background-color: white;
        color: #00a2ff;
    }
    .choice {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 120px;
        opacity: 0;
        width: 240px;
        position: absolute;
    }
    .choice button {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        margin: 5px;
        color: white;
        background-color: #00a2ff;
        font-size: 15px;
        font-weight: 700;
        border: none;
    }
    .choice button:active {
        background-color: #fff;
        color: #00a2ff;
    }
    .choice-an {
        animation: choice-an 0.3s linear forwards;
    }
    @keyframes choice-an {
        0% {
            display: none;
            opacity: 0;
        }
        50% {
            display: flex;
            flex-direction: column;
            opacity: 0;
        }
        100% {
            display: flex;
            opacity: 1;
        }
    }
}


/* zakazivanje temperature */

@media screen {
    .containerZ {
        background-color: transparent;
        width: 290px;
        height: 200px;
        padding: 5px;
        margin: 20px;
    }
    .innerZ {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    .containerZ:hover .innerZ {
        transform: rotateX(180deg);
    }
    .containerZ:active .innerZ {
        transform: rotateX(180deg);
    }
    .frontZ,
    .backZ {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        font-weight: 1000;
        border-radius: 20px;
        padding: 50px;
    }
    .frontZ {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .frontZ p:nth-child(2) {
        color: #00a2ff;
        font-size: 20px;
    }
    .backZ {
        background-color: white;
        color: black;
        transform: rotateX(180deg);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
        border: 5px solid transparent;
    }
    .backZ .period {
        width: 150px;
        height: 50px;
        border-radius: 500px;
        background-color: #00a2ff;
        border: none;
        font-size: 15px;
        font-weight: 800;
        color: #fff;
        padding: 5px;
    }
    .backZ .period:focus {
        outline: none;
        border: none;
    }
    .backZ .period:active {
        background-color: #0067a3;
        color: #fff;
    }
    .backZ .input {
        background-color: #00a2ff;
        border: 1px solid #00a2ff;
        margin: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        padding: 5px;
    }
    .backZ .input input {
        background-color: #00a2ff;
        text-align: center;
        border: none;
        font-size: 20px;
        font-weight: 1000;
        width: 40px;
    }
    .backZ .input button {
        font-size: 15px;
        font-weight: 1000;
        border-radius: 50px;
        background-color: #00a2ff;
        color: white;
        border: none;
        width: 40px;
        height: 40px;
    }
    .backZ .input input:focus {
        border-top: 2px solid #00a2ff;
        border-bottom: 2px solid #00a2ff;
        outline: none;
        border: none;
    }
    .backZ .input button:active {
        background-color: white;
        color: #00a2ff;
    }
    .backZ .choice {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 130px;
        opacity: 0;
        width: 240px;
        position: absolute;
    }
    .periodi {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 300px;
        height: 320px;
        background-color: white;
        border: 5px solid #0086d3;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .back-cover {
        background-color: rgba(44, 175, 252, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .periodi .cencel {
        background-color: #00a2ff;
        color: white;
        border: none;
        width: 30px;
        height: 30px;
        font-weight: 1000;
        text-align: center;
        border-radius: 20px;
        position: absolute;
        top: 2%;
        left: 88%;
    }
    .periodi p {
        margin: 20px;
        color: #00a2ff;
        font-size: 20px;
        font-weight: 1000;
    }
    .periodi input {
        padding: 15px;
        border-radius: 50px;
        margin: 10px;
        background-color: #00a2ff;
        color: #fff;
        border: none;
    }
    .periodi .input-box {
        font-size: 15px;
        font-weight: 800;
    }
    .periodi button.primeni-period {
        padding: 15px 60px;
        border-radius: 20px;
        border: none;
        background-color: black;
        color: #fff;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.prihvati {
    border: 5px solid green;
    transition: 0.5s ease-in-out;
}

.back input::-webkit-inner-spin-button,
.back input::-webkit-outer-spin-button,
.backZ input::-webkit-inner-spin-button,
.backZ input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.back input::-moz-inner-spin-button,
.back input::-moz-outer-spin-button,
.backZ input::-moz-inner-spin-button,
.backZ input::-moz-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
}

.display {
    display: none;
}

.active {
    transform: rotateX(180deg);
}

@media only screen and (max-width: 1200px) {
    .periodi {
        position: fixed;
        top: 60%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -100%);
    }
}

@media only screen and (max-width: 320px) {
    .containerZ {
        background-color: transparent;
        width: 290px;
        height: 200px;
        padding: 5px;
        margin: 10px;
    }
    .periodi {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.outside-input {
    position: fixed;
    top: 50%;
    left: 50%;
}