.grejanje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
/* trenutna temperatura */
@media screen {
    .container {
        background-color: transparent;
        width: 250px;
        height: 200px;
        padding: 5px;
        margin: 20px;
    }
    .inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    .container:hover .inner {
        transform: rotateX(180deg);
    }
    .front,
    .back {
        border: 5px solid transparent;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        font-weight: 1000;
        border-radius: 20px;
        transition: 0.5s;
    }
    .front {
        position: absolute;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .front p:nth-child(2) {
        color: #00a2ff;
        font-size: 20px;
    }
    .back {
        background-color: white;
        color: black;
        transform: rotateX(180deg);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        align-items: center;
    }
    .choice {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 120px;
        opacity: 0;
        width: 240px;
        position: absolute;
    }
    .choice button {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        margin: 5px;
        color: white;
        background-color: #00a2ff;
        font-size: 15px;
        font-weight: 700;
        border: none;
    }
    .choice button:active {
        background-color: #fff;
        color: #00a2ff;
    }
    .choice-an {
        animation: choice-an 0.3s linear forwards 0.2s;
    }
    @keyframes choice-an {
        0% {
            display: none;
            opacity: 0;
        }
        50% {
            display: flex;
            flex-direction: column;
            opacity: 0;
        }
        100% {
            display: flex;
            opacity: 1;
        }
    }
    .input {
        background-color: #00a2ff;
        border: 1px solid #00a2ff;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        padding: 5px;
    }
    .input input {
        background-color: #00a2ff;
        text-align: center;
        border: none;
        font-size: 25px;
        font-weight: 1000;
        width: 70px;
    }
    .input button {
        font-size: 20px;
        font-weight: 1000;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background-color: #00a2ff;
        color: white;
        border: none;
    }
    .input input:focus {
        border-top: 2px solid #00a2ff;
        border-bottom: 2px solid #00a2ff;
        outline: none;
        border: none;
    }
    .input button:active {
        background-color: white;
        color: #00a2ff;
    }
}
/* zakazivanje temperature */
@media screen {
    .containerZ {
        background-color: transparent;
        width: 250px;
        height: 150px;
        padding: 5px;
    }
    .innerZ {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.3s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    .containerZ:hover .innerZ {
        transform: rotateX(180deg);
    }
    .frontZ,
    .backZ {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        font-weight: 1000;
        border-radius: 20px;
    }
    .frontZ {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backZ {
        background-color: white;
        color: black;
        transform: rotateX(180deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.prihvati {
    border: 5px solid green;
    transition: 0.5s ease-in-out;
}

.back input::-webkit-inner-spin-button,
.back input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.back input::-moz-inner-spin-button,
.back input::-moz-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
}