.rasveta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.containerR {
    background-color: transparent;
    width: 250px;
    height: 80px;
    margin: 25px;
}

.innerR {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.containerR:hover .innerR {
    transform: rotateX(180deg);
}

.frontR,
.backR {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-weight: 1000;
    border-radius: 20px;
}

.frontR {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backR {
    background-color: white;
    color: black;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backR p {
    height: 20px;
}

.backR input[type=range] {
    margin: 10px;
}

.display {
    display: none;
}