* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #00a2ff;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 20px 20px;
    position: absolute;
    width: 100%;
    top: -200px;
    z-index: 1;
}

nav button.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    border: none;
}

nav button.dropdown p {
    margin-top: 15px;
    font-weight: 1000;
    color: #00a2ff;
    font-size: 20px;
}

nav button.dropdown img {
    max-width: 50px;
    height: 50px;
    position: absolute;
    transform: translateY(50px);
    animation: arrow-jumping 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@keyframes arrow-jumping {
    0% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(40px);
    }
}

nav menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav menu button {
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #007ABE;
    background-color: #00A3FF;
    color: white;
    font-weight: 800;
}

nav menu button:focus {
    transform: scale(1.1);
    transition: 0.2s all;
}

.slide {
    animation: slide 0.5s linear forwards;
}

@keyframes slide {
    0% {
        position: absolute;
        top: -200px;
    }
    100% {
        position: absolute;
        top: 0px;
    }
}

.reverse-slide {
    animation: reverse-slide 0.5s linear forwards;
}

@keyframes reverse-slide {
    0% {
        position: absolute;
        top: 0px;
    }
    100% {
        position: absolute;
        top: -200px;
    }
}


/* Rasveta */

.rasveta {
    display: none;
    opacity: 0;
}

.dnevna-soba,
.kupatilo,
.hodnik,
.stepenice,
.soba1,
.soba2 {
    background-color: transparent;
    width: 250px;
    height: 80px;
    margin: 15px;
}

.dnevna-soba-inner,
.kupatilo-inner,
.hodnik-inner,
.stepenice-inner,
.soba1-inner,
.soba2-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.dnevna-soba:hover .dnevna-soba-inner,
.kupatilo:hover .kupatilo-inner,
.hodnik:hover .hodnik-inner,
.stepenice:hover .stepenice-inner,
.soba1:hover .soba1-inner,
.soba2:hover .soba2-inner {
    transform: rotateX(180deg);
}

.dnevna-soba-front,
.dnevna-soba-back,
.kupatilo-front,
.kupatilo-back,
.hodnik-front,
.hodnik-back,
.stepenice-front,
.stepenice-back,
.soba1-front,
.soba1-back,
.soba2-front,
.soba2-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-weight: 1000;
    border-radius: 20px;
}

.dnevna-soba-front,
.kupatilo-front,
.hodnik-front,
.stepenice-front,
.soba1-front,
.soba2-front {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dnevna-soba-back,
.kupatilo-back,
.hodnik-back,
.stepenice-back,
.soba1-back,
.soba2-back {
    background-color: white;
    color: black;
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dnevna-soba-back p,
.kupatilo-back p,
.hodnik-back p,
.stepenice-back p,
.soba1-back p,
.soba2-back p {
    height: 20px;
}

.dnevna-soba-back input[type=range],
.kupatilo-back input[type=range],
.hodnik-back input[type=range],
.stepenice-back input[type=range],
.soba1-back input[type=range],
.soba2-back input[type=range] {
    margin: 10px;
}

.rasveta-apper {
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    animation: rasveta-apper 0.5s linear forwards;
}

@keyframes rasveta-apper {
    0% {
        position: absolute;
        top: 500px;
        opacity: 0.5;
    }
    100% {
        position: absolute;
        top: 0px;
        opacity: 1;
    }
}

.rasveta-disapper {
    margin-top: 150px;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    animation: rasveta-disapper 0.5s linear forwards;
}

@keyframes rasveta-disapper {
    0% {
        display: flex;
        opacity: 1;
        position: absolute;
        top: 0px;
    }
    100% {
        display: none;
    }
}


/* imapraynog prostora u foteru sajta */